@font-face {
    font-family: Averta;
    src: url(./fonts/Averta.otf);
}

@font-face {
    font-family: Sansita;
    src: url(./fonts/Sansita-Regular.ttf);
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #000;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid red;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: Averta;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./background2.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 90px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.title small{
    font-family: Sansita;
    font-weight: bold;
    font-size: 14.5px;
    letter-spacing: 2px;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.glow-on-hover {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

/* The glowing button thing */
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.side-bar{
    width: 40px;
    height: 100vh;
    /* background: linear-gradient(#0f0f0f, #000000); */
    background: #111;
    position: absolute;
    right: 0;
    top: 0;
}

.game-icon{
    display: block;
    width: 27px;
    margin: 30px auto 0;
    cursor: pointer;
}

.game-icon:hover {
    transform: scale(1.3);
}

.socials img, .other-links img{
    width: 27px;
    margin: 5px auto;
    cursor: pointer;
}

.socials img:hover {
    transform: scale(1.3);
}

.other-links img:hover {
    transform: scale(1.3);
}

.socials{
    width: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.other-links{
    width: 40px;
    text-align: center;
    position: absolute;
    bottom: 2%;
} 

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

.popup_container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup_container.show{
    opacity: 1;
    pointer-events: auto;
}

.popup{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup button{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
}

.popup button:hover{
    background-color: rgba(0, 0, 0, 4);
}

.popup h1{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.popup p{
    opacity: 0.7;
    font-size: 14px;
}